include ../../variables/variables
include ../../mixins/mixins

section.hero#hero
    .container-fluid
        .d-flex.flex-row.justify-content-between.hero-mod
            .col-md-4.col-sm-12.col-xs-12.col-md-pull-1.col-sm-pull-0.pl-0
                img.hero__img(src=hero__img  alt="")


            .col-md-8
                .row
                   .col-md-12.col-sm-12.col-xs-12
                        h2.display-4.hero__h2.mt-lg-3.mb-lg-1.ml-5
                            | #{hero__h2}
                        p.hero__p.text-center.mb-0
                            | #{hero__p__1}
                        p.hero__p.text-center.hero__p-mod  #{hero__p__2}

                .row
                    +rules(titleRules1, textRules1, classRules1)
                    +rules(titleRules2, textRules2, classRules2)
                    +rules(titleRules3, textRules3, classRules3)
                    +rules(titleRules4, textRules4, classRules4)
