- var logo = "https://static2.tinkoff.ru/portal/tinkoffbank-general-logo/tinkoff-bank-general-logo-11.png";
- var itemsMenu = ['Home','Choice','Results', 'Contacts'];

- var titleRules1 = "Шаг 1";
- var textRules1 =  "Внести депозит на ваш локальный счет защищенный 3D-Secure. Как ввариант деньги можно закопать на поле-чудес, эффект гораздо лучше";
- var classRules1 =  "ti ti-arrow-up  hero__icon";

- var titleRules2 = "Шаг 2";
- var textRules2 =  "В пределах суммы Вашего депозита  сделать ставку на покупку нужной валюты и нажать на кнопку 'Хочу богатство'";
- var classRules2 =  "ti ti-alarm-clock hero__icon";

- var titleRules3 = "Шаг 3";
- var textRules3 =  "Тут ещё какую-нибудь херню написать про то что надо посмотреть результат на другой страничке";
- var classRules3 =  "ti ti-cloud-down hero__icon";

- var titleRules4 = "Шаг 4";
- var textRules4 =  "Вывести деньги на свой мульливалютный счет в швейцарском банке";
- var classRules4 =  "ti ti-stats-down hero__icon";

- var titleRules5 = "Considered Design";
- var textRules5 =  "Lorem Ipsum is simply dummy text of the printing and typesetting dummy text industry";
- var classRules1 =  "ti ti-arrow-up hero__icon";

- var titleRules6 = "Considered Design";
- var textRules6 =  "Lorem Ipsum is simply dummy text of the printing and typesetting dummy text industry";
- var classRules1 =  "ti ti-arrow-up hero__icon";

- var hero__img = "http://bandafit.ru/images/actions/tinkoff.png";
- var hero__h2 = "Революциионная Новокузнецкая валютная биржа";
- var hero__p__1 = "Не превзайденный выгрыш на валютных операциях";
- var hero__p__2 = "Весь текст выражен через переменные и может меняться через админ панель, которую можно но не нужно, так как много хочется но нахрена";
