.contacts
    a.contacts__item(href="#")
        span
            img.contacts__item-logo(src=logo alt="picture")
    a.contacts__item(href="tel:+79627100221")
        i.fa.fa-mobile.contacts__item__icon(aria-hidden="true")
        span.contacts__text Позвонить мне

    a.contacts__item(href="mailto:info@business.co")
        i.fa.fa-envelope.contacts__item__icon.contacts__icon-email(aria-hidden="true")
        span.contacts__text info@busines.co

    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")
